doctype html
html
  head
    include ./includes/head.jade

  body
    include ./includes/navBar.jade

    #main.card
      h1 Join the fun
      p So far our users have take #{allSteps} steps!
      p The most steps walked in a day were #{stepRecord.stepRecord} by #{stepRecord.username}
      p Our most active user is #{topUser.username} with #{topUser.totalSteps} steps!


    include ./includes/scripts.jade
